<section class="details__permits">
  <div class="details__permits--add">
    <label for="addPermit">Add Permit</label>
    <select #permitSelect id="addPermit">
      <option value="City">City</option>
      <option value="County">County</option>
      <option value="State">State</option>
      <option value="DOT">DOT</option>
      <option value="TCP">TCP</option>
      <option value="JPA">JPA</option>
      <option value="AA">AA</option>
      <option value="811">811</option>
      <option value="JU">JU</option>
    </select>
    <fa-icon [icon]="faCirclePlus" (click)="onClick($event)"></fa-icon>
  </div>
  <app-permit-info *ngFor="let permit of permits" [permit]="permit"></app-permit-info>
</section>