<!-- <section>
  <div id="engineerDiv" class="section__details--main-info">
    <label for="engineer">Engineer</label>
    <span id="engineer" class="section__details--main-info_field">{{ currentJob.engineer }}
    </span>
  </div>
  <div id="engMgrDiv" class="section__details--main-info">
    <label for="engMgr">ENG MGR</label>
    <span id="engMgr" class="section__details--main-info_field">{{ currentJob.eng_mgr }}
    </span>
  </div>
  <div id="constMgrDiv" class="section__details--main-info">
    <label for="constMgr">CONST MGR</label>
    <span id="constMgr" class="section__details--main-info_field">{{ currentJob.const_mgr }}
    </span>
  </div>

</section> -->

<section>
  <div id="engineerDiv" class="section__details--main-info">
    <label for="engineer">Engineer</label>
    <span id="engineer" class="section__details--main-info_field">data
    </span>
  </div>
  <div id="engMgrDiv" class="section__details--main-info">
    <label for="engMgr">ENG MGR</label>
    <span id="engMgr" class="section__details--main-info_field">data
    </span>
  </div>
  <div id="constMgrDiv" class="section__details--main-info">
    <label for="constMgr">CONST MGR</label>
    <span id="constMgr" class="section__details--main-info_field">data
    </span>
  </div>

</section>