.section__notes--close {
		align-self: flex-start;
		margin-left: 1.5rem;
		margin-top: -1rem;
	}
  .section__notes--list {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: var(--color-black);
		background-color: var(--color-white);
		width: 90%;
		border: 1px solid var(--color-primary-dark);
		height: 14em;
		overflow: auto;
		list-style: none;

		scrollbar-color: var(--color-primary-dark);
  }

		.section__notes li {
			width: 99%;
			margin-bottom: 0.75rem;
			padding: 0.25rem;
			background-color: var(--color-white-tint);
			box-shadow: var(--default-shadow);
			border-radius: var(--round-corners);
		}

		.section__notes li:first-child {
			margin-top: 0.75rem;
		}

		.section__notes li:nth-child(2n) {
			background-color: var(--color-tint-secondary);
		}
	

    .section__notes--add {
		display: flex;
    }

		.section__notes--add-new {
			border: 1px solid var(--color-primary-dark);
			width: 50vw;
			height: 4rem;
			margin-right: var(--default-padding-margin);
		}
	

	.section__notes input {
		text-transform: none;
	}

