.aspect__group {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  /* align-items: center; */
  margin-top: var(--default-padding-margin);
  padding: var(--default-padding-margin);
  border-radius: var(--round-corners);
  border-right: 2px solid var(--color-primary-dark);
  border-left: 2px solid var(--color-primary-dark);
}

.aspect__group input {
  width: 100%;
}

.aspect__group fa-icon {
  align-self: center;

  margin-top: .25rem;
  font-size: 2.5rem;
  filter: drop-shadow(2px 2px 2px var(--color-shadow));
  transition: all 0.2s;
}
.aspect__group fa-icon:hover {
  color: var(--color-primary);
  transform: scale(101%);
  filter: drop-shadow(2px 2px 2px var(--color-secondary-dark-faded));
}
.aspect__group fa-icon:active {
  color: var(--color-primary);
  transform: scale(96%);
  filter: drop-shadow(1px 1px 1px var(--color-secondary-dark-faded));
}

.aspect__group--info {
  display: flex;
  flex-direction: column;
}