<div class="permit__info">
  <label class="permit__info--label" for="">{{ permit }} Permit</label>
  <div class="permit__info--group">
    <label for="{{ permit }}Assignee">Assignee</label>
    <select id="{{ permit }}Assignee" class="permit__info--group_field">
      <option value=""></option>
      <option value="">User# 1</option>
      <option value="">User# 2</option>
      <option value="">User# 3</option>
      <option value="">User# 4</option>
    </select>
  </div>
  <div class="permit__info--group">
    <label for="{{ permit }}Reqd">Date rqrd</label>
    <input type="date" id="{{ permit }}Reqd" value="">
  </div>
  <div class="permit__info--group">
    <label for="{{ permit }}Reqd">Date reqd</label>
    <input type="date" id="{{ permit }}Reqd" value="">
  </div>
  <div class="permit__info--group">
    <label for="{{ permit }}Rcvd">Date rcvd</label>
    <input type="date" id="{{ permit }}Rcvd" value="">
  </div>
  <div class="permit__info--group">
    <label for="{{ permit }}File">{{ permit }} File</label>
    <fa-icon [icon]="faFilePdf"></fa-icon>
  </div>
</div>