.permit__info {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-left: 3rem;
  padding: .5rem;
  border-radius: var(--round-corners);
  border-right: 2px solid var(--color-primary-dark);
  border-left: 2px solid var(--color-primary-dark);
}

.permit__info--label:not(first-child) {
  color: var(--color-secondary);
  background-color: var(--color-white-faded);
}

.permit__info input {
  width: 100%;
}

.permit__info--group {
  display: flex;
  flex-direction: column;
}

.permit__info--group fa-icon {
  align-self: center;
  font-size: 2.5rem;
  filter: drop-shadow(2px 2px 2px var(--color-shadow));
  transition: all 0.2s;
}
.permit__info--group fa-icon:hover {
  color: var(--color-primary);
  transform: scale(101%);
  filter: drop-shadow(2px 2px 2px var(--color-secondary-dark-faded));
}
.permit__info--group fa-icon:active {
  color: var(--color-primary);
  transform: scale(96%);
  filter: drop-shadow(1px 1px 1px var(--color-secondary-dark-faded));
}
