<main id="section__global" class="section__global " name="global">
  <section class="section__global--list">
    <div class="section__global--list-heading">
      <div class="section__global--list-heading_action">
        <p id="projectCount"></p>
        <i id="globalFilterIcon" class="fa-solid fa-filter section__global--list-heading_action-btn btn" title="filter">
        </i>
        <i id="globalDownloadIcon" class="fa-solid fa-file-export section__global--list-heading_action-btn btn"
          title="xlsx export"></i>
      </div>
      <div class="section__global--list-heading_headers">
        <div>State</div>
        <div>City</div>
        <div>Client</div>
        <div>Project ID</div>
        <div>Job Count</div>
        <div>Progress</div>
        <div>Days Aged</div>
        <div>Due Date</div>
        <div>Current Stage</div>
      </div>
    </div>
    <ul class="section__global--list-rows">
      <li class="section__global--list-rows_job">
        <div>data</div>
        <div>data</div>
        <div>data</div>
        <div>data</div>
        <div>data</div>
        <div>data%</div>
        <div>data</div>
        <div>data</div>
        <div>data</div>
      </li>
    </ul>
  </section>
</main>