<section class="section__details--build">
  <!-- <div>
    <h5 class="section__details--build-heading">Assignments</h5>
  </div> -->
  <div class="section__details--enterprise-info">
    <label for="enterpriseCustomerName">CUSTOMER</label>
    <span id="enterpriseCustomerName" class="section__details--enterprise-info_field">{{ currentJob.customer_name }}
    </span>
  </div>
  <div class="section__details--enterprise-info">
    <label for="enterpriseCity">CONTACT NAME</label>
    <span id="enterpriseCity" class="section__details--enterprise-info_field">{{ currentJob.contact_name }}
    </span>
  </div>
  <div class="section__details--enterprise-info">
    <label for="enterpriseNewMrc">CONTACT EMAIL</label>
    <span id="enterpriseNewMrc" class="section__details--enterprise-info_field">{{ currentJob.contact_email }}
    </span>
  </div>
  <div class="section__details--enterprise-info">
    <label for="enterpriseNetNrr">CONTACT PHONE</label>
    <span id="enterpriseNetNrr" class="section__details--enterprise-info_field">{{ currentJob.contact_phone }}
    </span>
  </div>
  <br>
  <div class="section__details--enterprise-info">
    <label for="wholesaleCustomerName">LCON NAME</label>
    <span id="wholesaleCustomerName" class="section__details--enterprise-info_field">{{ currentJob.lcon_name }}
    </span>
  </div>
  <div class="section__details--enterprise-info">
    <label for="wholesaleWipMrc">LCON EMAIL</label>
    <span id="wholesaleWipMrc" class="section__details--enterprise-info_field">{{ currentJob.lcon_email }}
    </span>
  </div>
  <div class="section__details--enterprise-info">
    <label for="wholesaleWipNrc">LCON PHONE</label>
    <span id="wholesaleWipNrc" class="section__details--enterprise-info_field">{{ currentJob.lcon_phone }}
    </span>
  </div>
</section>