<main class="section__jobshome">
  <div class="section__jobshome--backing">
    <section class="section__jobshome--type one">
      <div class="section__jobshome--type-link">
        <h2>BAU / MNT</h2>
      </div>
    </section>
    <section class="section__jobshome--type two" routerLink="commercial">
      <div class="section__jobshome--type-link">
        <h2 routerLink="commercial">Commercial</h2>
      </div>
    </section>
    <section class="section__jobshome--type three">
      <div class="section__jobshome--type-link">
        <h2>Transfers</h2>
      </div>
    </section>
  </div>
</main>