.section__jobs {
  display: flex;
  justify-content: space-evenly;

  height: 100vh;
  margin-left: 5rem;
  z-index: 1;
}

.section__jobs--list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: var(--color-secondary-dark-faded);
  /* font-size: 1.5rem; */
  padding: var(--default-padding-margin);
  height: 95vh;
  width: 95vw;
  border-radius: 3px;
  margin: 2rem 0 0 0;
}

.section__jobs--list-heading {
  background-color: var(--color-secondary-light-faded);
  list-style: none;
  padding: var(--default-padding-margin);
  border-radius: 3px;
  width: 100%;
}

.section__jobs--list-heading_headers {
  display: grid;
  grid-template-columns: 0.2fr repeat(2, 0.6fr) repeat(3, 0.4fr) 0.3fr 0.6fr 0.4fr;
  justify-items: center;
  align-items: center;
  gap: 0.5rem;

  color: var(--color-white);
  padding: 0.7rem;
  margin-right: 1.6rem;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.section__jobs--list-heading_action {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: var(--color-primary-light);
  padding: 0.7rem 1rem 0.7rem 1rem;
  font-size: 2rem;
  font-weight: 500;
}

.import {
  margin-left: 2.5rem;
} 

.section__jobs--list-heading_action p {
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-grey-faded);
  color: var(--color-black);
  font-weight: 600;
  border-radius: var(--round-corners);
  padding: 0.5rem 1rem;
}

.section__jobs--list-heading_action-btn {
  font-size: 2.5rem;
  margin-right: 3rem;
  padding: 0.4rem;
  border: 2px solid var(--color-primary-dark);
}

.section__jobs--list-heading_action-btn:hover,
.section__jobs--list-heading_action-btn:active {
  color: var(--color-white);
  border-color: var(--color-white);
}

.section__jobs--list-rows {
  background-color: var(--color-secondary-light-faded);
  list-style: none;
  overflow: auto;
  padding: var(--default-padding-margin);
  border-radius: 3px;
  width: 100%;
  height: 100%;
}

.section__jobs--list-rows_job {
  display: grid;
  grid-template-columns: 0.2fr repeat(2, 0.6fr) repeat(3, 0.4fr) 0.3fr 0.6fr 0.4fr;
  justify-items: center;
  align-items: center;
  margin-top: 3px;
  gap: 0.5rem;

  /*  font-size: 2rem; */
  font-weight: 600;
  text-transform: uppercase;
  padding: var(--default-padding-margin);
  background-color: var(--color-white-faded);
  color: var(--color-primary-dark);
  border-radius: var(--round-corners);
}

.section__jobs--list-rows_job:hover {
  cursor: pointer;
  background-color: var(--color-primary-dark-faded);
  color: var(--color-white);
}

.section__jobs--list-rows_job:first-child {
  margin-top: 0;
}

.rowShortStatus {
  text-transform: capitalize;
}

.selected {
  background-color: var(--color-primary-lightest-faded);
  color: var(--color-white);
}
