<main id="section__jobs" class="section__jobs" name="jobs">
  <section class="section__jobs--list">
    <div class="section__jobs--list-heading">
      <div class="section__jobs--list-heading_action">
        <a routerLink="import">
          <fa-icon [icon]="faUpload" class="section__jobs--list-heading_action-btn btn import"></fa-icon>
        </a>
        <p id="jobCount">Displaying {{ (jobs$ | async)?.length }} Jobs</p>
        <!-- <p *ngIf="hasJobs$" id="jobCount">Displaying SELECTED Jobs</p> -->
        <div class="section__jobs--list-heading_action-group">
          <a routerLink="filter">
            <fa-icon id="jobsFilterIcon" [icon]="faFilter" class="section__jobs--list-heading_action-btn btn"
              title="filter">
            </fa-icon>
          </a>
          <fa-icon id="jobsDownloadIcon" [icon]="faDownload" class="section__jobs--list-heading_action-btn btn"
            title="xlsx export"></fa-icon>
        </div>
      </div>
      <div class="section__jobs--list-heading_headers">
        <div>State</div>
        <div>City</div>
        <div>Address</div>
        <div>Customer</div>
        <div>Order #</div>
        <div>Due Date</div>
        <div>Order Age</div>
        <div>Assignment</div>
        <div>Status</div>
      </div>
    </div>
    <ul class="section__jobs--list-rows">
      <li>
        <app-job-row *ngFor="let job of jobs$ | async; let i = index" [job]="job" [routerLink]="['details', job.id]"
          class="section__jobs--list-rows_job" [ngClass]="{selected: job.id === selectedJobId}"
          (click)="clickSelectedRow(i)"></app-job-row>
      </li>
    </ul>
  </section>
</main>