<main id="section__jobs" class="section__jobs" name="jobs">
  <section class="section__jobs--list">
    <div class="section__jobs--list-heading">
      <div class="section__jobs--list-heading_action">
        <a routerLink="import">
          <fa-icon [icon]="faUpload" class="section__jobs--list-heading_action-btn btn import"></fa-icon>
        </a>
        <p id="jobCount">Displaying {{ (jobs$ | async)?.length }} Jobs</p>
        <!-- <p *ngIf="hasJobs$" id="jobCount">Displaying SELECTED Jobs</p> -->
        <div class="section__jobs--list-heading_action-group">
          <a routerLink="filter">
            <fa-icon id="jobsFilterIcon" [icon]="faFilter" class="section__jobs--list-heading_action-btn btn"
              title="filter">
            </fa-icon>
          </a>
          <fa-icon id="jobsDownloadIcon" [icon]="faDownload" class="section__jobs--list-heading_action-btn btn"
            title="xlsx export"></fa-icon>
        </div>
      </div>
      <div class="section__jobs--list-heading_headers">
        <div>State</div>
        <div>City</div>
        <div>Address</div>
        <div>Customer</div>
        <div>Order #</div>
        <div>Due Date</div>
        <div>Order Age</div>
        <div>Assignment</div>
        <div>Status</div>
      </div>
    </div>
    <ul class="section__jobs--list-rows">
      <li *ngFor="let job of jobs$ | async" id="{{ job.id }}" routerLink="details" class="section__jobs--list-rows_job"
        (click)="onClickParent($event, job)" [ngClass]="{selected: job.id === selectedJobId}">
        <div (click)="onClickChild($event, job)" routerLink="details">{{ job.state }}</div>
        <div (click)="onClickChild($event, job)" routerLink="details">{{ job.exchange }}</div>
        <div (click)="onClickChild($event, job)" routerLink="details">{{ job.address }}</div>
        <div (click)="onClickChild($event, job)" routerLink="details">{{ job.customer_name }}</div>
        <div (click)="onClickChild($event, job)" routerLink="details">{{ job.order_no }}</div>
        <div (click)="onClickChild($event, job)" routerLink="details">{{ job.due_date }}</div>
        <div (click)="onClickChild($event, job)" routerLink="details">{{ job.age }}</div>
        <div (click)="onClickChild($event, job)" routerLink="details">{{ job.aerial_assignee }}</div>
        <div (click)="onClickChild($event, job)" routerLink="details">{{ (statuses$ | async)?.[job.status - 1]?.name }}
        </div>
      </li>
    </ul>
  </section>
</main>