<main id="section__profile" class="section__profile " name="profile">
  <form class="section__profile--box" id="passwordForm">
    <div class="section__profile--box_close">
      <a routerLink="/jobs">
        <i class="close-modal fa-solid fa-square-xmark section__profile--box_close-icon close-modal_icon"
          id="section__profile--close-icon" name="close-circle-outline" routerLink="/jobs"></i>
      </a>
    </div>
    <h2 class="section__profile--box-heading">Username</h2>
    <div class="section__profile--password">
      <label for="passwordInput" class="section__profile--password-label">Enter New Password</label>
      <input type="password" class="section__profile--password-input" id="passwordInput">
    </div>
    <button action="submit" class="btn section__profile--password-change" id="section__profile-btn"
      disabled>Update</button>
  </form>
</main>