<main class="section__login " id="section__login" name="login">
  <div action="" class="section__login--modal">
    <div class="section__login--modal-row">
      <label for="username">Username</label>
      <input type="text" class="section__login--modal-row_input" placeholder="username" id="username" value="demo654"
        required>
    </div>
    <div class="section__login--modal-row">
      <label for="password">Password</label>
      <input type="password" class="section__login--modal-row_input" placeholder="password" id="password"
        value="password" required>
    </div>
    <button id="login-btn" class="btn section__login--btn" routerLink="/jobs">Login</button>
  </div>
</main>