<header>
  <nav id="navigation" class="navigation">
    <ul class="navigation__links">
      <li class="navigation__links--item">
        <img src="../assets/projextream.logo_2_cropped.png" alt="ProjeXtream logo" class="navigation__links--item-logo">
      </li>
      <li class="navigation__links--item" id="profile">
        <a routerLink="/user" routerLinkActive="current">
          <fa-icon [icon]="faUser"></fa-icon>
          <i class="navigation__links--item_text">Profile</i>
        </a>
      </li>
      <li class="navigation__links--item" id="global">
        <a routerLink="/global" routerLinkActive="current">
          <fa-icon [icon]="faEarthAmericas"></fa-icon>
          <i class="navigation__links--item_text">Global</i>
        </a>
      </li>
      <li class="navigation__links--item" id="jobs">
        <a routerLink="/jobs" routerLinkActive="current">
          <fa-icon [icon]="faList"></fa-icon>
          <i class="navigation__links--item_text">Jobs</i>
        </a>
      </li>
      <li class="navigation__links--item" id="daily">
        <a routerLink="/daily" routerLinkActive="current">
          <fa-icon [icon]="faBusinessTime"></fa-icon>
          <i class="navigation__links--item_text">Daily</i>
        </a>
      </li>
      <li class="navigation__links--item" id="charts">
        <a routerLink="/charts" routerLinkActive="current">
          <fa-icon [icon]="faChartLine"></fa-icon>
          <i class="navigation__links--item_text">Charts</i>
        </a>
      </li>
      <li id="logout" class="navigation__links--item" id="logout">
        <a routerLink="/login">
          <fa-icon [icon]="faLock"></fa-icon>
          <i class="navigation__links--item_text">Logout</i>
        </a>
      </li>
    </ul>
  </nav>
</header>

<div>
  <router-outlet></router-outlet>
</div>