<main id="section__global" class="section__global " name="global">
  <section class="section__global--list">
    <div class="section__global--list-heading">
      <div class="section__global--list-heading_action">
        <p id="projectCount"></p>
        <i id="globalFilterIcon" class="fa-solid fa-filter section__global--list-heading_action-btn btn" title="filter">
        </i>
        <i id="globalDownloadIcon" class="fa-solid fa-file-export section__global--list-heading_action-btn btn"
          title="xlsx export"></i>
      </div>
      <div class="section__global--list-heading_headers">
        <div>Username</div>
        <div>Job Count</div>
        <div>Total Hrs</div>
        <div>Work Date</div>
        <div>Submit Date</div>
        <div>Approve Date</div>
      </div>
    </div>
    <ul class="section__global--list-rows">
      <li class="section__global--list-rows_job">
        <div>DEMO654</div>
        <div>2</div>
        <div>11</div>
        <div>2022-04-06</div>
        <div>2022-04-07</div>
        <div>2022-04-11</div>
      </li>
    </ul>
  </section>
</main>