<div class="app-shell">

  <aside class="sidebar">
    <div class="brand">
      <span class="brand-proje">Proje</span><span class="brand-x">X</span><span class="brand-tream">tream</span>

      <span class="brand-tagline">
        Snowdog Digital Demo
      </span>
    </div>

    <nav>
      <a routerLink="/dashboard" routerLinkActive="active">
        Dashboard
      </a>

      <a routerLink="/projects" routerLinkActive="active">
        Projects
      </a>

      <a routerLink="/jobs" routerLinkActive="active">
        Jobs
      </a>
    </nav>
  </aside>

  <main class="main-content">
    <header class="topbar">
      <span>Keep Work Moving.</span>
    </header>

    <section class="page-content">
      <router-outlet />
    </section>
  </main>

</div>